<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Agenda</title>
</head>
<body>
<div th:replace="~{fragments/navbar.html}"></div>
<h1>Agenda de la semaine</h1>
<p>
  <a th:href="@{/agenda(weekOffset=${weekOffset - 1})}">&larr; Semaine précédente</a>
  |
  <a th:href="@{/agenda(weekOffset=${weekOffset + 1})}">Semaine suivante &rarr;</a>
</p>
<h2>Semaine du <span th:text="${startOfWeek}"></span> au <span th:text="${endOfWeek}"></span></h2>
<table>
  <thead>
  <tr>
    <th>Jour</th>
    <th>Petit Déjeuner</th>
    <th>Déjeuner</th>
    <th>Dîner</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="dayStat : ${#numbers.sequence(0, 6)}">
    <td th:text="${days[dayStat]}"></td>
    <td>
      <ul>
        <li th:each="entry : ${agenda[startOfWeek.plusDays(dayStat)]}"
            th:if="${entry.mealType == 'BREAKFAST'}"
            th:text="${entry.foodName}">Aucun repas</li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="entry : ${agenda[startOfWeek.plusDays(dayStat)]}"
            th:if="${entry.mealType == 'LUNCH'}"
            th:text="${entry.foodName}">Aucun repas</li>
      </ul>
    </td>
    <td>
      <ul>
        <li th:each="entry : ${agenda[startOfWeek.plusDays(dayStat)]}"
            th:if="${entry.mealType == 'DINNER'}"
            th:text="${entry.foodName}">Aucun repas</li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
