<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter un Repas</title>
</head>

<body>
<div th:replace="~{fragments/navbar.html}"></div>
<div class="container mt-5">
  <h1 class="text-center">Ajouter un Repas</h1>

  <form th:action="@{/agenda/save-repas}" method="POST">
    <div class="mb-3">
      <label for="date" class="form-label">Date du repas</label>
      <input type="date" id="date" name="date" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="mealType" class="form-label">Type de repas</label>
      <select id="mealType" name="mealType" class="form-select" required>
        <option value="BREAKFAST">Petit Déjeuner</option>
        <option value="LUNCH">Déjeuner</option>
        <option value="DINNER">Dîner</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="foodEntryId" class="form-label">Nom du plat</label>
      <select id="foodEntryId" name="foodEntryId" class="form-select" required>
        <th:block th:each="food : ${foodEntries}">
          <option th:value="${food.id}" th:text="${food.foodName}"></option>
        </th:block>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
  </form>
</div>

</body>
</html>
